/* LAYOUT STYLE */


body {
    margin: 0;
    padding: 0;

    #app {
        max-width: 100vw;
        min-height: 100vh;
        display: flex;
        color: #2F2926;

        #home {
            width: 100%;
            background-color: #0E927D;
            background-image: url('./assets/graphics/header-left.svg'), url('./assets/graphics/header-right.svg');
            background-position: left center, right center;
            background-repeat: no-repeat;
            background-size: 50%, 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: #FFFFFF;
            padding: 1rem;
        }

        #about , #menuOptions{
            width: 100%;
            background-color: #F3E4E1;
            background-image: url('./assets/graphics/header-top.svg'), url('./assets/graphics/header-bottom.svg');
            background-position: top center, bottom center;
            background-repeat: no-repeat;
            background-size: 100%, 100%;
            padding: 1rem;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
        }

    }
}